/* Page background */
.page{
    font-family: Arial, sans-serif;
    background: rgb(28, 28, 28);
    /* linear-gradient(135deg, #076c03, #5bff5b)*/
    height: 98vh;
    display: flex;
    justify-content: left;
}



/* Navigation */
.header-container{
    background: rgb(28, 28, 28);
    padding: 5px;

    min-width: max-content;
    height: auto;

    text-align: center;
    position: static;

    overflow-y: scroll;
    scrollbar-color: #53c6ff rgb(36, 66, 109);
    
    /*corners*/
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    /*border*/
    border-style: none solid none none;
    border-width: 6px;
    /* simple shadow trick */
    box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
}

    
/* Main card */
.container{
    background: rgb(28, 28, 28);
    padding: 40px;

    /*corners*/
    width: 320px;
    height: auto;

    text-align: center;
    position: static;

    /* simple shadow trick */
    box-shadow: 0px 10px 25px rgba(0,0,0,0.2);
}



/* Title */
.title{
    margin-bottom: 10px;
    font-size: 32px;
}

.light-blue{
    color:#53c6ff;
}


/* Counter number */
.counter{
    font-size: 48px;
    font-weight: bold;
    color:#53c6ff;
    margin: 20px 0;
}

/* Welcome text */
.welcome{
    margin-bottom: 20px;
    color: #444;
}

/* Button layout */
.button-area{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 25px;
}

.login-area{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 25px;
}

/* Buttons */
.navibtn{
    border: none;
    width: 100px;
    padding: 0px 10px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    color: white;

    /* smooth hover animation */
    transition: transform 0.1s, box-shadow 0.1s;
}

.btn{
    border: none;
    padding: 0px 10px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    color: white;

    /* smooth hover animation */
    transition: transform 0.1s, box-shadow 0.1s;
}


/* Hover trick */
.btn:hover{
    transform: translateY(-2px);
    box-shadow: 0px 5px 10px rgba(57, 211, 249, 0.685);
}

.menu-buttons{
    
    background-color: rgb(28, 28, 28);

}

/* Button colors */
.add-btn{
    background-color: #4CAF50;
}

.subtract-btn{
    background-color: #f44336;
}
.reset-btn{
    background-color: blue;
}

.logout-btn{
    background-color: #555;
}

.login-btn{
    background-color: #2196F3;
    width: 100%;
    margin-top: 10px;
}


/* Login form */
.login-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* Inputs */
.post-field{
    background-color: rgb(28, 28, 28);
    padding: 20px;

    border-radius: 10px;
    border-color: #53c6ff;
    border-style: dotted;

    position: static;
    width: 100vh;
    height: 92vh;

    display: flex;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-color: #53c6ff rgb(36, 66, 109);
}

.text-area{
    border: none;
    border-radius: 10px;
    background-color: #646464;
    font-size: large;
    min-width: 99vh;
    min-height: 90vh;
    font-family: 'Times New Roman', Times, serif;
    resize: none;
    color: #ffffff;
    
}

.input-field{
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    height: fit-content;
    width: auto ;
}


.item-list{
    
    size-adjust: inherit;
}