<!DOCTYPE html>
<html lang="en">

<head>

    <title>website example</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styleFile.css') }}">
    
</head>

<body class="page">

   

    <div class="header-container">

        <h1 class="light-blue" action="">Website example</h1>

        <form action="/postButton" method="post">
            <button class="btn menu-buttons">
                <h1 class="light-blue" action="">Post</h1>
            </button>
        </form>

       

    </div>


    <div class="container">

        <h1 class="light-blue">Website example</h1>

        <p class="counter">{{counter}}</p>
       
            
        {% if current_user != None %}
        <h2 class="welcome">Welcome to {{current_user}}</h2>
        {% endif %}
            
        
        <div class="login-area">

            <form action="/loginattempt" method="post">

                <p class="light-blue">username</p>
            <input class="input-field" type="input" name="username">

                <p class="light-blue">username</p>
            <input class="input-field" type="input" name="password">

                <button type=submit class="btn login-btn">submit</button>
            </form>
        </div>
                
    </div>
    

    {% if current_page == "post_side" %}
    <div class="post-field">
        <form action="/save" method="post">
            <input class="input-field" name="post_title">
            <button type=submit>save</button>
            <textarea class="text-area" color="#ffff" name="post_text"></textarea>
        </form>
    </div>
    {%endif%}

    </body>

</html>