<!DOCTYPE html>
<html lang="en">

<head>

    <title>website example</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styleFile.css') }}">
    
</head>

<body class="page">

   

    <div class="header-container">
        <h1 class="ligth-blue" action="">Website example</h1>

        <form action="/postButton" method="post">
            <button class="btn menu-buttons">
                <h1 class="ligth-blue" action="">Post</h1>
            </button>
        </form>

        <ul class="item-list">
            {% for item in naviList %}
            <h1 class="ligth-blue" style="color:#53c6ff">{{item}}</h1>
            {% endfor %}
        </ul>  

    </div>


    <div class="container">

        <h1 class="ligth-blue">Website example</h1>

        <p class="counter">{{counter}}</p>
       
            
        {% if current_user != None %}
        <h2 class="welcome">Welcome to {{current_user}}</h2>
        {% endif %}
            
        
        
        <div class="login-area">

            <form action="/loginattempt" method="post">

            Username <input class="input-field" type="input" name="username">
            Password <input class="input-field" type="input" name="password">

                <button type=submit class="btn login-btn">submit</button>
            </form>
        </div>
                
    </div>
    
    {% if current_page == "post_side" %}
    <div class="post-field">
        <form>
            <input class="input-field" >

        <textarea class="text-area" color="#ffff"></textarea>
    </div>
    {%endif%}

    </body>

</html>